{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

        {{form_row(form.activite) }} 
        {{form_row(form.tarifHoraire) }}
        {{form_row(form.webcam) }}
        {{form_row(form.domicile) }}
        {{form_row(form.chezEleve) }}

        <ul id="creneaux" data-prototype="{{ form_row(form.creneaux.vars.prototype)|e('html_attr') }}">
        
            {% for creneau in form.creneaux %}
                <li>
                    {{ form_row(creneau) }}
                </li>
            {% endfor %}

        </ul>

        {{form_row(form.submit) }} 

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent()}}
    <script src="/js/creneauHandler.js"></script>

{% endblock %}