{% extends 'base.html.twig' %}

{% block body %}

{% block flash %}
    {% for flash_message in app.session.flashbag.get('demande') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}
<!-- LISTINGS DETAILS TITLE SECTION -->
<section class="clearfix paddingAdjustBottom" id="listing-details">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <img src="/assets/pictures/{{ cours.prof.pictureFilename }}" alt="Image prof">
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="listingTitleArea">
                    <h2>{{ cours.prof }}</h2>
                    {% if app.user %}
                        
                        <p>{{ cours.prof.adresse }}</p>
                        <div class="listingReview">
                            {% if nbEtoiles %}
                                <ul class="list-inline rating">
                                    {% if nbEtoiles >= 1 %}
                                        {% for i in 1 .. nbEtoiles  %}
                                            <!-- Etoiles pleines -->
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        {% endfor %}
                                    {% endif %}

                                    {% if nbEtoiles != 5 %}         
                                        {% for i in nbEtoiles .. 4 %}
                                            <!-- Etoiles vides -->
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                <span>({{ cours.prof.avis|length }} avis)</span>
                            {% endif %}
                        </div>
                    {% endif %}

                    <p>Cours : {{ cours }}</p>

                    <p>Niveaux enseignés : {{ cours.niveaux }}</p>
                    {% if app.user %}
                        <p>Prix : {{ cours.tarifHoraire }}€ /h</p>
                        <p>Mode d'enseignement : <br/>
                            {% if cours.webcam %}
                                <dd> - Téléprésentiel</dd>
                            {% endif %}
                            {% if cours.chezProf %}
                                <dd> - Chez le professeur</dd>
                            {% endif %}
                            {% if cours.chezEleve %}
                                <dd> - A domicile</dd>
                            {% endif %}
                        </p>
                        <a href="{{ path('conversation_eleve', {'id':cours.prof.id}) }}" target="_blank"><button class="btn btn-lg btn-primary">Contacter {{ cours.prof }}</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


<section class="clearfix paddingAdjustTop">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="listDetailsInfo">
                {% if app.user %}
                    <div data-entry-ideleve={{app.user.id}}></div>
                    <div data-entry-idcours={{cours.id}}></div>
                    <div data-entry-idprof={{cours.prof.id}}></div>
                    <!-- PLANNING DES DISPONIBILITES DU COURS -->
                    {% include '@Calendar/calendar.html' %} 
                    <!-- The Modal -->

                {% else %}
                    <h2>Pour vous inscrire à ce cours, veuilllez <a href="{{ path('login_eleve') }}">vous connecter</a>. Si vous n'avez pas encors de compte, vous pouvez <a href="{{ path('register', {isEleve : cours.id}) }}">vous enregistrer</a> dès maintenant!</h2>
                {% endif %}
            </div>
        </div>
    </div>
</section>
       

<!-- LISTINGS DETAILS INFO SECTION -->
<section class="clearfix paddingAdjustTop">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="listDetailsInfo">
                    <div class="detailsInfoBox">
                        <h3>Description du cours</h3>
                        <p>{{ cours.description }}</p>
                    </div>
                    {% if app.user %}
                        <div class="detailsInfoBox">
                            <h3>Avis sur {{ cours.prof }} ({{ cours.prof.avis|length }})</h3>

                            {% for avis in cours.prof.avis %}
                                <div class="media media-comment">
                                    <div class="media-left">
                                        <h4 class="media-heading">{{ avis.eleve }}</h4>
                                        <img src="/assets/pictures/{{ avis.eleve.pictureFilename }}" alt="User Image">
                                    </div>
                                    <div class="media-body">
                                        <p>{{ avis.commentaire }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/calendarInscriptionCours.js"></script>

{% endblock %}