{% extends 'base.html.twig' %}

{% block body %}
<div class="containerChat">
    <h3 class=" text-center">Conversation avec {{ prof }}</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="msg_history">
            {% for message in allMsg %}
                <!-- Messege reçu déjà lu ou non lu -->
                {% if message in msgLus or message in msgNonLus %}
                <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="/assets/pictures/{{ prof.pictureFilename }}" alt="Image User Chat"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p>{{ message.contenu }}</p>
                            <span class="time_date">{{ prof }} à {{ message.dateEnvoi|date("H:i") }} | {{message.dateEnvoi|localizeddate('none', 'none', 'fr', null, 'EEEE d MMM')}}</span>
                        </div>
                    </div>
                </div>

                <!-- Message envoyé  -->
                {% else %}
                <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>{{ message.contenu }}</p>
                        <span class="time_date">Vous à {{ message.dateEnvoi|date("H:i") }} | {{message.dateEnvoi|localizeddate('none', 'none', 'fr', null, 'EEEE d MMM')}} </span>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>

            <div class="type_msg">
              <div class="input_msg_write">
                <form action='{{ path('send_message_eleve', {'id':prof.id}) }}' method='POST'>
                    <input type="text" name="text" class="write_msg" placeholder="Entrez votre message">
                    <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="test"></div>

{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    setInterval(function(){
        $('.test').load('refreshMsgEleve');
    }, 10000) /* time in milliseconds (ie 2 seconds)*/
</script>

{% endblock %}