{% extends 'base.html.twig' %}

{% block body %}

{#<h2>Conversation avec {{ eleve }}</h2> #}
<div class="conversation">
    {% for message in allMsg %}
        {% if message in msgLus %}
            <p class="messageRecu">{{ message.prof }} {{ message.dateEnvoi|date("m/d/Y")}} à {{ message.dateEnvoi|date("H:i")}}<br>
            {{ message.contenu }}</p>
        {# Si ce n'est pas un message lu ou non lu, c'est un message de l'élève #}
        {% elseif message not in msgNonLus %}
            <p class="messageEnvoi">{{ message.eleve }} {{ message.dateEnvoi|date("m/d/Y")}} à {{ message.dateEnvoi|date("H:i")}} <br>
            {{ message.contenu }}</br>
        {# Sinon c'est un message non lu (nouveau message) #} 
        {% else %}
            <p class="nvMessage">{{ message.prof }} {{ message.dateEnvoi|date("m/d/Y")}} à {{ message.dateEnvoi|date("H:i")}} <br>
            {{ message.contenu }}</p>       
        {% endif %}
    {% endfor %}

</div>

<div class="test">

</div>

<form action='{{ path('send_message_eleve', {'idProf':prof.id, 'idEleve':app.user.id}) }}' method='POST'>
    <input type="text" name="text" id="textMessage">
    <button type='submit'>Envoyer message</button>
</form>


{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
setInterval(function(){
    $('.test').load('refreshMsg');
 }, 10000) /* time in milliseconds (ie 2 seconds)*/
</script>

 {% endblock %}