{% extends 'base.html.twig' %}

{% block body %}
<section class="clearfix bg-dark equalHeight dashboardSection">
    <div class="containerChat">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading" id="message">
                        Messagerie : <span class="label label-default label-sm">{{ app.user.getNbMsgNonLus }}</span> messages non lus
                    </div>
                    <div class="panel-body panel-message">
                        <ul class="list-unstyled panel-list">
                            {% for conversation in allConversations %}
                                <!-- Conversation avec nouveaux messages -->
                                {% if conversation.nbMsg != 0 %}
                                <a href="{{ path('conversation_eleve', { 'id':conversation.prof.id }) }}">
                                    <li class="messageCommon recentMessage listWrapper">
                                         <span class="messageInfo">
                                            <h5>{{ conversation.prof }}, {{ conversation.nbMsg }} messages non lus</h5>
                                        </span>
                                        <span class="messageTime">Dernier message reçu : il y a {{ conversation.dateDiff }}</span> 
                                    </li>
                                </a>

                                <!-- Conversation sans nouveau message -->
                                {% else %}
                                <a href="{{ path('conversation_eleve', { 'id':conversation.prof.id }) }}">
                                    <li class="messageCommon oldMessage listWrapper">                                        <span class="messageInfo">
                                            <h5>{{ conversation.prof }}</h5>
                                                <!-- <small>Today <span class="dayTime">2.08 PM</span></small> -->
                                            <p></p>
                                        </span>
                                        {% if conversation.dateDiff != null %}
                                            <span class="messageTime">Dernier message reçu : il y a {{ conversation.dateDiff }}</span>
                                        {% endif %}
                                    </li>
                                </a>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
{% endblock %}