{% extends 'base.html.twig' %}

{% block title %}Votre profil !{% endblock %}

{% block body %}
    <div class="up">
        <div class="infosEtPhoto">
            <div class="photo">
                <img class="profile_pic" src="/assets/pictures/{{ app.user.pictureFilename }}" alt="">
            </div>
            <div class="coordonnees">
                    <p>{{ app.user }}</p>
                    <p>{{ app.user.email }}</p>
                    <p>{{ app.user.adresse }}</p>
                    <p><a href="{{ path('edit_eleve', {'id':app.user.id}) }}"><button type="button">Modifier mes informtions</button></a></p>
            </div>
        </div>
        <div class="prochainesSeances">
            <h2>Prochaines séances</h2>
            <ul class="list-group">
                {% for prochaineSeance in prochainesSeances %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>{{ prochaineSeance.cours }}</strong> prochaine séance :  le {{ prochaineSeance.dateDebut|date('m/d/Y') }}
                        à {{ prochaineSeance.dateDebut|date('H:i') }} avec {{ prochaineSeance.prof }}    
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {# <div class="down">
        <div class="coursEleve">
            <h2>Liste des cours suivis</h2>
            <ul class="list-group">
                {% for cours in coursS %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ cours }} avec {{ cours.prof }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div> #}
{% endblock %}
