{% extends 'base.html.twig' %}

{% block title %}Votre profil !{% endblock %}

{% block body %}

    <h1> {{ app.user }} </h1>
    <p>Nom d'utilisateur : {{ app.user.username }}</p>
    <p>Adresse : {{ app.user.adresse }}</p>
    <p>Email : {{ app.user.email }}</p>
    <p>Photo : {{ app.user.pictureFilename }} </p>
    <img class="profile_pic" src="/assets/pictures/{{ app.user.pictureFilename }}" alt="">
        
    <p><a href="{{ path('edit_eleve', {'id':app.user.id}) }}"><button type="button" class="btn btn-warning btn-lg">Modifier mon profil</button></a></p>

{% endblock %}
