{% extends 'base.html.twig' %}

{% block body %}
    {% block flash %}
        {% for flash_message in app.session.flashbag.get('changePasswordError') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
        {% endfor %}
    {% endblock %}

    <h2>Modifier votre mot de passe</h2>
    <div class="col-lg-5 registerForm">
        {{ form_start(form) }}

            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword) }}
            {{ form_row(form.submit) }}
            {{ form_errors(form) }}
            
        {{ form_end(form) }} 
    </div>
{% endblock %}
