{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="clearfix pageTitleSection" style="background-image: url();">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pageTitle">
                        {% if isEleve == 1 %}
                            <h2>Créer un compte élève</h2>
                        {% else %}
                            <h2>Créer un compte professeur</h2>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clearfix signUpSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="signUpForm">
                    {{ form_start(registrationForm) }}
                        <h3>Vos informations</h3>
                        <p>Veuillez remplir les champs ci-dessous afin de créer votre compte professeur. Un email de confirmation vous sera envoyé. Si vous avez déjà un compte <a href="login.html">cliquez ici</a>.</p>
                        
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12">
                                {{ form_row(registrationForm.prenom) }}
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                {{ form_row(registrationForm.nom) }}
                            </div>
                            <div class="form-group col-xs-12">
                                {{ form_row(registrationForm.email) }}
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                {{ form_row(registrationForm.plainPassword.first) }}
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                {{ form_row(registrationForm.plainPassword.second) }}
                            </div>
                            {# <p>En vous inscrivant, vous acceptez nos <a href="#">mentions legales</a>.</p> #}

                            <div class="form-group col-xs-12 mb0">
                                {{ form_row(registrationForm.submit) }}
                            </div>
                        </div>
                        {{ form_errors(registrationForm) }}
                    {{ form_end(registrationForm) }} 
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %} 