{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}


<!-- CATEGORY LIST SECTION -->
<section class="clerfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="resultBar barSpaceAdjust">
                    <h2>Liste des membres</h2>
                </div>
                 <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Prof / Eleve</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Profil</th>
                            <th scope="col">Supprimer</th>
                            <th scope="col">Avis (prof)</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {% for prof in profs %}
                        <tr>
                            <td><strong>Prof</strong></td>
                            <td><strong>{{  prof.username  }}</strong></td>
                            <td><strong>{{  prof.nom  }}</strong></td>
                            <td><strong>{{  prof.prenom  }}</strong></td>
                            <td><a href="{{ path('edit_prof_admin',{'id':prof.id}) }}"><i class="fa fa-edit"></i></a></td>
                            <td><a href="{{ path('delete_prof_admin',{'id':prof.id}) }}"><i class="fa fa-trash"></i></a></td>
                            <td><a href="{{ path('show_reviews_prof_admin', {'id':prof.id}) }}">Voir / Supprimer avis</a></td>
                        </tr>
                    {% endfor %}
            
                    {% for eleve in eleves %}
                        <tr>
                            <td><strong>Eleve</strong></td>
                            <td><strong>{{  eleve.username  }}</strong></td>
                            <td><strong>{{  eleve.nom  }}</strong></td>
                            <td><strong>{{  eleve.prenom  }}</strong></td>
                            <td><a href="{{ path('edit_eleve_admin',{'id':eleve.id}) }}"><i class="fa fa-edit"></i></a></td>
                            <td><a href="{{ path('delete_eleve_admin',{'id':eleve.id}) }}"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}

