{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% for categorie in categories %}
    {{ categorie.nom }}
        {% for activite in categorie.activites %}
            {% for cours in activite.coursS %}
                {{ cours.prof.nom }}
                <img class="profile_pic" src="/assets/pictures/{{ cours.prof.pictureFilename }}" alt="">
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% for activite in activites %}
        {% for cours in activite.coursS %}
            {{ cours.prof.nom }}
            <img class="profile_pic" src="/assets/pictures/{{ cours.prof.pictureFilename }}" alt="">
            {% if is_granted('ROLE_ELEVE') %}
                <p><a href="{{ path('send_message_eleve', {'idProf':cours.prof.id, 'idEleve':app.user.id}) }}"><button type="button" class="btn btn-warning btn-lg">Envoyer un message</button></a></p>
                <p><a href="{{ path('voir_profil_prof', {'id':cours.prof.id}) }}"><button type="button" class="btn btn-warning btn-lg">Voir profil du prof</button></a></p>
            {% endif %}
            <p><a href="{{ path('inscription_cours_eleve', {'idProf':cours.prof.id, 'idCours':cours.id}) }}"><button type="button" class="btn btn-warning btn-lg">S'inscrire au cours</button></a></p>
        {% endfor %}
    {% endfor %}



{% endblock %}

{%  block javascripts %}
{%  endblock %}
