{% extends 'base.html.twig' %}

{% block body %}

<h2>Conversation avec {{ eleve }}</h2>
<div class="conversation">
    {% for message in allMsg %}
        {% if message in msgLus %}
            <p class="messageEnvoi">{{ message.dateEnvoi|date("m/d/Y")}} à {{ message.dateEnvoi|date("H:i")}} <br>
            {{ message.contenu }}</br>
        {# Si ce n'est pas un message lu ou non lu, c'est un message du prof #}
        {% elseif message not in msgNonLus %}
            <p class="messageRecu">{{ message.dateEnvoi|date("m/d/Y")}} à {{ message.dateEnvoi|date("H:i")}}<br>
            {{ message.contenu }}</p>
        {% else %}
            <p class="nvMessage">{{ message.dateEnvoi|date("m/d/Y")}} à {{ message.dateEnvoi|date("H:i")}} <br>
            {{ message.contenu }}</p>        
        {% endif %}
    {% endfor %}
</div>
    <p><a href="{{ path('send_message_prof', {'idProf':app.user.id, 'idEleve':eleve.id}) }}"><button type="button" class="btn btn-warning btn-lg">Répondre</button></a></p>


{% endblock %}

{% block javascripts %}
    
{% endblock %}