{% extends 'base.html.twig' %}

{% block body %}

    {{form_start)}}  
        <ul id="creneaux" data-prototype="{{ form_row(form.creneaux.vars.prototype)|e('html_attr') }}">
        
            {% for creneau in form.creneaux %}
                <li>
                    {{ form_row(creneau) }}
                </li>
            {% endfor %}

        </ul>
        
    {{ form_end(editForm, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}

    {{ parent()}} 
    <script src="/js/creneauHandler.js"></script>

{% endblock %}