{% extends 'base.html.twig' %}


{% block title %}Modifier votre profil{% endblock %}

{% block body %}

<section class="clearfix pageTitleSection" style="background-image: url();">
     <div class="container">
          <div class="row">
               <div class="col-xs-12">
                    <div class="pageTitle">
                         <h2>Modification de vos informations </h2>
                    </div>
               </div>
          </div>
     </div>
</section>
  
<section class="clearfix signUpSection">
     <div class="container">
          <div class="row">
               <div class="col-sm-12 col-xs-12">
                    <div class="signUpForm">

                    {{ form_start(editForm, {
                         'attr' :{
                              'enctype' : 'multipart/form-data',
                         }}) }}
                         <h3>Vos informations</h3>
                         <p>Vous pouvez modifier vos informations ci-dessous (* : champs obligatoires)</p>
                         
                         <div class="row">
                              <p><a href="{{ path('edit_password_prof') }}">Modifier votre mot de passe</a></p>

                              <div class="form-group col-sm-6 col-xs-12">
                                   {{form_row(editForm.nom) }}
                              </div>
                              <div class="form-group col-sm-6 col-xs-12">
                                   {{form_row(editForm.prenom) }}
                              </div>

                              <div class="form-group col-sm-12 col-xs-12">
                                   {{form_row(editForm.adresse) }}
                              </div>

                              <div class="form-group col-sm-12 col-xs-12">
                                   {{form_row(editForm.description) }}
                              </div>

                              <div class="form-group col-sm-6 col-xs-12">
                                   <div id="imageActuelle">
                                        <p>Image de profil actuelle :</p><img class="profile_pic_edit" src="/assets/pictures/{{ app.user.pictureFilename }}" alt="">
                                   </div>
                              </div>

                              <div class="form-group col-sm-6 col-xs-12">
                                   <p>Modifier photo de profil :</p>
                                   <div id="prev"> </div>
                                   {{form_widget(editForm.pictureFilename, { 'id': 'preview' })}}
                                   {{ form_errors(editForm.pictureFilename) }}
                              </div>

                              <div class="form-group col-xs-12 mb0">
                                   {{form_row(editForm.submit) }}
                              </div>
                         </div>
                        {{ form_errors(editForm) }} 
                        {{ form_rest(editForm) }}
                    {{ form_end(editForm, {'render_rest': false}) }} 
                    </div>
               </div>
          </div>
     </div>
</section>

{% endblock %}

{% block javascripts %}
{{ parent()}}
<script>
    function miniature(fileInput, prev) {
        function creationImage(file, prev) {
            function creationBalise() {
                var imgElement = document.createElement('img');
                imgElement.style.maxWidth = '250px';
                imgElement.style.maxHeight = '250px';
                imgElement.src = this.result;
                prev.appendChild(imgElement);
            }
            var reader = new FileReader();
            reader.addEventListener('load', creationBalise);
            reader.readAsDataURL(file);
        }
        
        var file = fileInput.files;
        var nomFile=file[0].name;
            
        creationImage(file[0], prev);
            
        prev.innerHTML = '<p>Nouvelle image ('+nomFile+'), (format acceptés : jpg et png) :</p>';     
    }  
    document.getElementById('preview').addEventListener('change', function(){
        var fileInput = document.getElementById('preview');
        var prev = document.getElementById('prev');
        miniature(fileInput, prev);	
    }, false);

</script>

{% endblock %}