{% extends 'base.html.twig' %}

{% block body %}

<!-- USER PROFILE SECTION -->
<section class="user-profile-section bg-light">
    <div class="container">
      <div class="user-profile">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="user-img">
                <img src="/assets/pictures/{{ prof.pictureFilename }}" alt="Image User" class="img-circle">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="user-profile-content">
              <h3 class="user-name">{{ prof }}  </h3>                                
                   <span> {% if nbEtoiles >= 1 %}
                        {% for i in 1..nbEtoiles %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                    {% endif %}
        
                    {% if nbEtoiles != 5 %}         
                        {% for i in nbEtoiles .. 4 %}
                            <i class="fa fa-star-o"></i>
                        {% endfor %}
                    {% endif %}
                </span>
               
              <ul class="user-contact-details">
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">{{ prof.email }}</a></li>
              </ul>
              <a href="{{ path('conversation_eleve', {'id':cours.prof.id}) }}" target="_blank"><div class="verified-user">Contacter</div></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="user-profile-content">
                <h3 class="user-name">Cours enseignes :</h3>                                
                {% for cours in prof.coursS  %}
                    <p>{{ cours }}</p>
                {% endfor %}                
            </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="listContentHeading">
            <h2>Description / Parcours</h2>
          </div>
            <div class="listContent">
                <div class="row">
                    <p>{{ prof.description }}</p>
                </div>
            </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="review-aria">
                <div class="reviewContent">
                  <h3 class="reviewTitle">
                    Avis ({{ prof.avis|length }})
                  </h3>
  
                  {% if prof.avis %}
                      
                    <div class="reviewMedia">
                        <ul class="media-list">
                        {% for avis in prof.avis %}
                            <li class="media">
                                <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/assets/pictures/{{ avis.eleve.pictureFilename }}" alt="Image">
                                </a>
                                </div>
                                <div class="media-body">
                                <h5>{{ avis.eleve }}</h5>
                                <span>
                                    {% if avis.note >= 1 %}
                                        {% for i in 1..avis.note %}
                                            <i class="fa fa-star"></i>
                                        {% endfor %}
                                    {% endif %}
                        
                                    {% if avis.note != 5 %}         
                                        {% for i in avis.note .. 4 %}
                                            <i class="fa fa-star-o"></i>
                                        {% endfor %}
                                    {% endif %}
                                </span>
                                <p>{{ avis.commentaire }}</p>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      
{% endblock %}

{% block javascripts %}

{% endblock %}