{% extends 'base.html.twig' %}

{% block body %}
    {% block flash %}
        {% for flash_message in app.session.flashbag.get('changePasswordOk') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
        {% endfor %}
    {% endblock %}


    <!-- DASHBOARD PROFILE SECTION -->
<section class="clearfix bg-dark profileSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-12">
                <div class="dashboardBoxBg mb30">
                    <div class="profileImage">
                        <img src="/assets/pictures/{{ app.user.pictureFilename }}" alt="Image User" class="img-circle">
                    </div>
                    <div class="profileUserInfo bt profileName">
                        <h2>{{ app.user }}</h2>
                        <h3>{{ app.user.email }}</h3>
                        <p>{{ app.user.adresse }}</p>
                        <p><a href="{{ path('edit_profile_prof') }}" class="">Modifier mon profil</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-12">
                <div class="dashboardBoxBg">
                    <div class="profileIntro">
                        <h3>Mes disponibilites</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Jour</th>
                                <th scope="col">Début</th>
                                <th scope="col">Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for jour, creneaux in creneauxSemaine %}
                                    {% for creneau in creneaux %}
                                    <tr>
                                        {% if jour == 'Mon' %}
                                            <td>Lundi</td>
                                        {% elseif jour == 'Tue' %}
                                            <td>Mardi</td>
                                        {% elseif jour == 'Wed' %}
                                            <td>Mercredi</td>
                                        {% elseif jour == 'Thu' %}
                                            <td>Jeudi</td>
                                        {% elseif jour == 'Fri' %}
                                            <td>Vendredi</td>
                                        {% elseif jour == 'Sat' %}
                                            <td>Samedi</td>
                                        {% elseif jour == 'Sun' %}
                                            <td>Dimanche</td>
                                        {% endif %}
                
                                        <td>{{ creneau[0] }}:00</td>
                                        <td>{{ creneau[1] }}:00</td>
                                    </tr>
                                    {% endfor %} 
                                {% endfor %} 
                            </tbody> 
                        </table>
                        <p><a href="{{ path('edit_disponibilites_prof') }}" class="">Modifier mes disponibilités</a></p>
                    </div>
                </div>
                
                <div class="dashboardBoxBg mt30">
                    <div class="profileIntro">
                        <h3>Mes cours</h3>
                        <div class="row">
                            {% if allCoursEtProchaineSeance %}
                                {% for coursEleves in allCoursEtProchaineSeance %}
                                <button class="accordionCustom">{{ coursEleves.cours.activite }}</button>
                                    <div class="panelCustom">
                                        {% for prochaineSeance in coursEleves.seances %}
                                            <p>Prochaine séance avec {{ prochaineSeance.eleve }} le {{ prochaineSeance.dateDebut|date('d/m/Y') }}
                                                à {{ prochaineSeance.dateDebut|date('H:i') }} 
                                                <a href="{{ path('conversation_prof', {'id':prochaineSeance.eleve.id}) }}" target="_blank" style="float:right">Contacter {{ prochaineSeance.eleve.prenom }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <p><a href="{{ path('show_liste_cours') }}" class="">Modifier mes cours</a></p>
                    </div>
                </div>

                <div class="dashboardBoxBg mt30">
                    <div class="profileIntro">
                        <h3>Mes avis</h3>
                        <div class="row">
                            {% if noteMoyenne %}
                                <h3>Note : {{ noteMoyenne }}</h3>
                            {% endif %}
                            
                            {% if nbEtoiles %}
                                {% if nbEtoiles >= 1 %}
                                    {% for i in 1..nbEtoiles %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                {% endif %}
                    
                                {% if nbEtoiles != 5 %}         
                                    {% for i in nbEtoiles .. 4 %}
                                        <i class="fa fa-star-o"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <p><a href="{{ path('show_reviews_prof') }}">Voir mes avis</a></p>
                    </div>
                </div>

                <div class="dashboardBoxBg mt30">
                    <div class="profileIntro">
                        <h3>Ma description</h3>
                        <div class="row">
                            <p>{{ app.user.description }}</p>
                        </div>
                        <p><a href="{{ path('edit_profile_prof') }}" class="">Modifier ma description</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
<script>
    var acc = document.getElementsByClassName("accordionCustom");
    var i;
    
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
        this.classList.toggle("activeAccordeonCustom");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        }
        });
    }
</script>
{% endblock %}