{% extends 'base.html.twig' %}

{% block title %}Votre profil !{% endblock %}

{% block body %}

    <!-- <h1>Votre profil</h1> -->
    <div class="up">
        <div class="infosEtDescription">
            <div class="infos">
                <div class="photo">
                    <img class="profile_pic" src="/assets/pictures/{{ app.user.pictureFilename }}" alt="">
                </div>
                <div class="coordonnees">
                    <p>{{ app.user }}</p>
                    <p>{{ app.user.email }}</p>
                    <p>{{ app.user.adresse }}</p>
                    <p><a href="{{ path('edit_prof', {'id':app.user.id}) }}"><button type="button">Modifier mes informtions</button></a></p>
                </div>
                <div class="avis">
                    <h3>Note : {{ noteMoyenne }}</h3>
                    {% if nbEtoiles >= 1 %}
                        {% for i in 1..nbEtoiles %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    {% endif %}
        
                    {% if nbEtoiles != 5 %}         
                        {% for i in nbEtoiles .. 4 %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}
        
                    <a href="#">VOIR MES AVIS</a>
                    {#{% for avis in app.user.avis %}
                        <p>{{ avis.eleve }}</p>
                        <p>{{ avis.commentaire }}</p>
                    {% endfor %} #}
                </div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita praesentium suscipit voluptatibus dolorem
                    a ipsum cum non magnam esse unde nemo illo aliquid ullam ipsa ex dolore, molestiae enim! Voluptate!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi repellendus qui officia tempora suscipit quia nostrum eius doloremque repellat id,
                    veniam totam molestiae aliquid eveniet fuga pariatur saepe deserunt consectetur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eos officia, rem ea corporis libero molestiae ipsum, cupiditate explicabo in placeat sapiente repellendus voluptates, 
                    quis provident quam pariatur quasi laborum?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi repellendus qui officia tempora suscipit quia nostrum eius doloremque repellat id,
                    veniam totam molestiae aliquid eveniet fuga pariatur saepe deserunt consectetur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eos officia, rem ea corporis libero molestiae ipsum, cupiditate explicabo in placeat sapiente repellendus voluptates, 
                    quis provident quam pariatur quasi laborum?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi repellendus qui officia tempora suscipit quia nostrum eius doloremque repellat id,
                    veniam totam molestiae aliquid eveniet fuga pariatur saepe deserunt consectetur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eos officia, rem ea corporis libero molestiae ipsum, cupiditate explicabo in placeat sapiente repellendus voluptates, 
                    quis provident quam pariatur quasi laborum?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi repellendus qui officia tempora suscipit quia nostrum eius doloremque repellat id,
                    veniam totam molestiae aliquid eveniet fuga pariatur saepe deserunt consectetur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eos officia, rem ea corporis libero molestiae ipsum, cupiditate explicabo in placeat sapiente repellendus voluptates, 
                    quis provident quam pariatur quasi laborum?
                </p>
            </div>
        </div>

        <div class="creneaux">
            <h2>Mes creneaux</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Jour</th>
                    <th scope="col">Début</th>
                    <th scope="col">Fin</th>
                    </tr>
                </thead>
                <tbody>
                {% for creneau in creneaux %}
                    <tr>
                        <td>{{ creneau[0] }}</td>
                        <td>{{ creneau[1]|date("H:i") }}</td>
                        <td>{{ creneau[2]|date("H:i") }}</td>
                    </tr>
                {% endfor %} 
                
                </tbody>
            </table>

            <div class="coursProf">
                <h2>Nombre de cours enseignés : {{ app.user.coursS|length }}</h2>
                {% for cours in app.user.coursS %}
                <button class="accordion">{{ cours.activite }}</button>
                    <div class="panel">
                        {% for prochaineSeance in prochainesSeances %}
                            {% if cours == prochaineSeance[0] %}                          
                                <p>Prochaine séance avec {{ prochaineSeance[1] }} le {{ prochaineSeance[2].dateDebut|date('m/d/Y') }}
                                    de {{ prochaineSeance[2].dateDebut|date('H:i') }} à {{ prochaineSeance[2].dateFin|date('H:i') }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
        var active = document.getElementById('navProfil')
        active.classList.add('activeNav')

        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("activeAccordeon");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }

        
</script>
{% endblock %}