{% extends 'base.html.twig' %}

{% block body %}
<section class="clearfix bg-dark equalHeight dashboardSection">
    <div class="containerChat">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading" id="message">
                        Messagerie : <span class="label label-default label-sm">{{ app.user.getNbMsgNonLus }}</span> messages non lus
                    </div>
                    <div class="panel-body panel-message">
                        <ul class="list-unstyled panel-list">
                            {% for conversation in allConversations %}
                                <!-- Conversation avec nouveaux messages -->
                                {% if conversation.nbMsg != 0 %}
                                <a href="{{ path('conversation_prof', { 'idProf':app.user.id, 'idEleve':conversation.eleve.id }) }}">
                                    <li class="messageCommon recentMessage listWrapper">
                                         <span class="messageInfo">
                                            <h5>{{ conversation.eleve }}, {{ conversation.nbMsg }} messages non lus</h5>
                                        </span>
                                        <span class="messageTime">Dernier message reçu : il y a {{ conversation.dateDiff }}</span> 
                                    </li>
                                </a>
                                <!-- </a> -->
                                <!-- Conversation sans nouveau message -->
                                {% else %}
                                <a href="{{ path('conversation_prof', { 'idProf':app.user.id, 'idEleve':conversation.eleve.id }) }}">
                                    <li class="messageCommon oldMessage listWrapper">                                        <span class="messageInfo">
                                            <h5>{{ conversation.eleve }}</h5>
                                                <!-- <small>Today <span class="dayTime">2.08 PM</span></small> -->
                                            <p></p>
                                        </span>
                                        <span class="messageTime">Dernier message reçu : il y a {{ conversation.dateDiff }}</span>
                                    </li>
                                </a>
                                {% endif %}
                               {# <a href="{{ path('conversation_prof', { 'idProf':app.user.id, 'idEleve':conversation.eleve.id }) }}"><i class="fal fa-comments-alt" style="font-size: 2.5em"></i><strong>{{ conversation.eleve }} </strong> ({{ conversation.nbMsg }}) #}
                                </a></td>
                            {% endfor %}
                            <!-- <li class="messageCommon recentMessage listWrapper">
                                <span class="messageInfo">
                                    <h5>Aden, <small>Today <span class="dayTime">11.08 AM</span></small></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </span>
                                <span class="messageTime">5m ago</span>
                            </li>
                          
                            <li class="messageCommon oldMessage listWrapper">
                                <span class="messageInfo">
                                    <h5>Alexa Deos, <small>Today <span class="dayTime">2.08 PM</span></small></h5>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                </span>
                                <span class="messageTime">5m ago</span>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{#<h2 class="titre" data-test="messagerie">Messagerie</h2>

<table class="table table-hover">
    <thead>
        <tr>
             <th scope="col">Elève</th>
            {# <th scope="col">Ouvrir la conversation</th> 
        </tr>
    </thead>
    <tbody>
        {% for conversation in allConversations %}
            {# {% set listEleves = listEleves|merge([idEleve]) %}
            <tr>
                <td><a href="{{ path('conversation_prof', { 'idProf':app.user.id, 'idEleve':conversation.eleve.id }) }}"><i class="fal fa-comments-alt" style="font-size: 2.5em"></i><strong>{{ conversation.eleve }} </strong> ({{ conversation.nbMsg }})
                </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>#}

{% endblock %}

{% block javascripts %}
{% endblock %}