{% extends 'base.html.twig' %}

{% block title %}Votre profil !{% endblock %}

{% block body %}

    <h1> Seance à valider de {{ app.user }} </h1>
    {% for seance in app.user.seances %}
        {% for demandeCours in seance.demandesCours %}
            {% if not demandeCours.repondue %}
                <p>Demande de {{ demandeCours.eleve.nom }} pour le cours de {{ demandeCours.cours }} du {{ demandeCours.seance.dateDebut|date('m/d/Y') }} à {{ demandeCours.seance.dateDebut|date('H:i') }}</p>
                
                <p><a href="{{ path('validation_seances_prof', {'id':demandeCours.id, 'valider':1}) }}"><button type="button" class="btn btn-warning btn-lg">Valider la seance</button></a></p>
            
                <p><a href="{{ path('validation_seances_prof', {'id':demandeCours.id, 'valider':0}) }}"><button type="button" class="btn btn-warning btn-lg">Refuser la seance</button></a></p>
            
            {% endif %}
        {% endfor %}
    {% endfor %}
        


{% endblock %}


{% block javascripts %}

<script>
    var active = document.getElementById('navValideCours')
    active.classList.add('activeNav')
</script>

{% endblock %}