<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>
            {% block title %}
                {% if title is defined %}{{ title }}{% else %} Bienvenue ! {% endif %}
            {% endblock %}
        </title>

            {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">

            <!-- <link 
                href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
                rel="stylesheet"  type='text/css'> -->

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
            <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css"> -->


            <!-- PLUGINS CSS STYLE -->

            <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
            <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!-- <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
            <link href="/assets/plugins/listtyicons/style.css" rel="stylesheet">
            <link href="/assets/plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">
            <link href="/assets/plugins/datepicker/datepicker.min.css" rel="stylesheet">
            <link href="/assets/plugins/selectbox/select_option1.css" rel="stylesheet">
            <link href="/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
            <link href="/assets/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet"/>
            <link href="/assets/plugins/isotope/isotope.min.css" rel="stylesheet">
            <link href="/assets/plugins/rateyo/jquery.rateyo.min.css" rel="stylesheet">
            <link href="/assets/plugins/animate/animate.css" rel="stylesheet">
            <link href="" rel="stylesheet" id="bootstrap-rtl">

            <!-- GOOGLE FONT -->
            <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

            <link rel="stylesheet" href="/assets/css/default.css" id="option_color">

            <!-- FAVICON -->
            <link href="/assets/img/favicon.png" rel="shortcut icon">
            <!-- CUSTOM CSS -->
            <link href="/assets/css/app.css" rel="stylesheet">
        {% block stylesheets %}

        {% endblock %}
    </head>

    {% include "header.html.twig" %}
    {% block body %}

    {% endblock %}

    <!-- Closing wrapper -->
    </div>

     <!-- FOOTER -->
     <footer >
        <!-- FOOTER INFO -->
        <div style="background-image: url(/assets/img/background/bg-footer.jpg);">
          <div class="clearfix footerInfo" style="background-image: url(/assets/img/background/bg-footer.jpg);">
            <div class="container">
              <div class="row">

                <div class="col-sm-7 col-xs-12">
                  <div class="footerText">
                    <!-- <a href="index.html" class="footerLogo">
                    </a> -->
                    <p>StrasCours est une plateforme de cours particuliers regroupant élèves et enseignants sur Strasbourg. L'inscription est 100% gratuite pour les professeurs ou les étudiants.</p>
                    <ul class="list-styled list-contact">
                      <li><i class="fa fa-phone" aria-hidden="true"></i>42 42 42 42 42</li>
                      <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:contact@strascours.fr">contact@strascours.fr</a></li>
                    </ul>
                  </div>
                </div>
                {% if is_granted('ROLE_PROF') %}
                <div class="col-sm-3 col-xs-12">
                  <div class="footerInfoTitle">
                    <h4>Liens</h4>
                  </div>
                  <div class="useLink">
                    <ul class="list-unstyled">
                      <li><a href="{{ path('planning_prof') }}">Planning</a></li>
                      <li><a href="{{ path('home_prof') }}">Profil</a></li>
                      <li><a href="{{ path('show_messages_prof') }}">Messagerie</a></li>

                      <li><a href="{{ path('add_propose_cours') }}">Proposer un cours</a></li>
                      
                      <li><a href="{{ path('logout_prof') }}">Déconnexion</a></li>
                    </ul>
                  </div>
                </div>
                {% elseif is_granted('ROLE_ELEVE') %}
                <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Liens</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="{{ path('planning_eleve') }}">Planning</a></li>
                        <li><a href="{{ path('home_eleve') }}">Profil</a></li>
                        <li><a href="{{ path('show_messages_eleve') }}">Messagerie</a></li>
                        <li><a href="{{ path('search_course_eleve') }}">Rechercher un cours</a></li>
                        <li><a href="{{ path('logout_eleve') }}">Déconnexion</a></li>
                      </ul>
                    </div>
                  </div>
                {% else %}
                  
                <div class="col-sm-3 col-xs-12">
                  <div class="footerInfoTitle">
                    <h4>Liens</h4>
                  </div>
                  <div class="useLink">
                    <ul class="list-unstyled">
                      <li><a href="{{ path('register', {'isEleve':1} ) }}">Créer un compte élève</a></li>
                      <li><a href="{{ path('register', {'isEleve':0} ) }}">Créer un compte professeur</a></li>
                      <li><a href="{{ path('login_eleve') }}">Connexion élève</a></li>
                      <li><a href="{{ path('login_prof') }}">Connexion professeur</a></li>
                    </ul>
                  </div>
                </div>
                {% endif %}
                <div class="col-sm-2 col-xs-12">
                  <div class="footerInfoTitle">
                    <h4>StrasCours</h4>
                  </div>
                  <div class="useLink">
                    <ul class="list-unstyled">
                      <li><a href="#">Comment ça marche ?</a></li>
                      <li><a href="#">Conditions d'utilisation</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- COPY RIGHT -->
          <div class="clearfix copyRight">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="copyRightWrapper">
                    <div class="row">
                      <div class="col-sm-5 col-sm-push-7 col-xs-12">
                        <ul class="list-inline socialLink">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                        <div class="copyRightText">
                          <p>Copyright &copy; 2019. Tous droits réservés par <strong>Arnaud STRAUMANN</strong></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </footer>



<!-- JAVASCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

        <!-- JAVASCRIPTS -->

        <script src="/assets/plugins/jquery/jquery.min.js"></script>
        <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/plugins/waypoints/waypoints.min.js"></script>
        <script src="/assets/plugins/counter-up/jquery.counterup.min.js"></script>
        <script src="/assets/plugins/datepicker/bootstrap-datepicker.min.js"></script>
        <script src="/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
        <script src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="/assets/plugins/isotope/isotope.min.js"></script>
        <script src="/assets/plugins/fancybox/jquery.fancybox.min.js"></script>
        <script src="/assets/plugins/isotope/isotope-triger.min.js"></script>
        <script src="/assets/plugins/rateyo/jquery.rateyo.min.js"></script>
        <script src="/assets/js/app.js"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>


    {% block javascripts %}

    {% endblock %}

    </body>
</html>
