<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
        {% block title %}
            {% if title is defined %}{{ title }}{% else %} Bienvenue ! {% endif %}
        {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
        
            <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

        {% endblock %}
    </head>

    <body>
        <div class="wrapper"> 
            <header>

                <!-- ADMIN -->
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('show_list_activites_categories') }}">Liste des activités</a>
                    <a href="{{ path('delete_messages') }}">Supprimer messages</a>
                    <a href="{{path('logout_admin')}}">Déconnexion</a>
                {% else %}
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <!-- LOGO ? -->
                        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <! class="collapse navbar-collapse" id="navbarColor02"> -->
                        <div class="collapse navbar-collapse" id="navbarColor02">

                            
                            <!-- VISITOR -->
                            {% if not is_granted('ROLE_USER') %}
                                <ul class="navbar-nav mr-auto __flexBetween">
                                    <div class="navLeft">
                                        <li class="nav-item activeNav">
                                            <a class="nav-link" href="{{ path('home') }}">Acceuil<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path('login_prof')}}">Connexion professeur</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path('login_eleve')}}">Connexion élève</a>
                                        </li>
                                    </div>
                                </ul>
                            {% endif %}

                            <!-- ELEVE -->
                            {% if is_granted('ROLE_ELEVE') %}
                                <ul class="navbar-nav mr-auto __flexBetween">
                                    <div class="navLeft">
                                        <li class="nav-item activeNav">
                                            <a class="nav-link" href="{{ path('home_eleve') }}">Planning <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('show_profile_eleve', {'id':app.user.id} ) }}">Profil</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path('show_messages_eleve')}}">Messagerie</a>
                                        </li>
                                    </div>
                                    <div class="navRight">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">S'inscrire à un cours</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path('logout_eleve')}}">Déconnexion</a>
                                        </li>
                                    </div>
                                </ul>
                                <form action='{{ path('search_result_eleve') }}' class='form-inline my-2 my-lg-2' method="GET">
                                    <input type="search" name='s' class='form-control mr-sm-2' placeholder='search' aria-label='Search'>
                                    <button type='submit' class='btn btn-outline-light my-2 my-sm-0'>Recherche </button>
                                </form>

                            <!-- PROF -->
                            {% elseif is_granted('ROLE_PROF') %}
                            <ul class="navbar-nav mr-auto __flexBetween">
                            <!-- <ul class="navbar-nav mr-auto __flexBetween"> -->
                                <div class="navLeft">
                                    <li class="nav-item">
                                        <a class="nav-link" id="navCalendar" href="{{ path('home_prof') }}">Planning <span class="sr-only">(current)</span></a>
                                       {# <a class="nav-link" href="{{ path('home_prof') }}">Planning <span class="sr-only">(current)</span></a> #}
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="navProfil" href="{{ path('show_profile_prof', {'id':app.user.id} ) }}">Profil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="navMsg" href="{{path('show_messages_prof', {'id':app.user.id} )}}">Messagerie</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="navValideCours" href="{{path('demande_sessions_prof')}}">Deamandes de cours</a>
                                    </li>
                                </div>
                                <div class="navRight">
                                    <li class="nav-item">
                                        <a class="nav-link" id="navCours" href="{{ path('show_liste_cours') }}">Proposer un cours</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('logout_prof')}}">Déconnexion</a>
                                    </li>
                                </div>
                            </ul>
                            {% endif %}
                        </div>
                    </nav>
                {% endif %}
            </header>
        {% block body %}

        {% endblock %}

        <!-- Closing wrapper -->
        </div>

        {% block javascripts %}

            <script src='fullcalendar/core/main.js'></script>
            <script src='fullcalendar/core/locales/fr.js'></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

        {% endblock %}

    </body>
</html>
