<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">

                    {% if is_granted('ROLE_ADMIN') %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('show_list_activites_categories') }}">Liste des activités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('delete_messages') }}">Supprimer messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('logout_admin')}}">Déconnexion</a>
                        </li>

                    {% else %}

                        {% if not is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Acceuil</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                            </li> 

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login_prof') }}">Connexion professeur</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login_eleve') }}">Connexion élève</a>
                            </li>

                        {% endif %}

                        {% if is_granted('ROLE_ELEVE') %}
                        <li class="nav-item">
                            {# <a class="nav-link" href="{{ path('home_eleve', {'id':app.user.id}) }}">Acceuil</a> #}
                            <a class="nav-link" href="{{ path('home_eleve') }}">Acceuil</a> 
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('show_profile_eleve') }}">Mon profil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('logout_eleve')}}">Déconnexion</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('calendar_eleve') }}">Mon planning</a>
                        </li>

                        <li class="nav-item">
                            {# <a class="nav-link" href="{{path('show_messages_eleve')}}">Mes messages {{ nonLus }}</a> #}
                            <a class="nav-link" href="{{path('show_messages_eleve')}}">Mes messages </a>
                        </li>

                        {# <li class="nav-item">
                            <a class="nav-link" href="{{path('logout_eleve')}}">S'i</a>
                        </li> #}

                        <li class="nav-item">
                            <form action='{{ path('search_result_eleve') }}' class='form-inline my-2 my-lg-2' method="GET">
                                <input type="search" name='s' class='form-control mr-sm-2' placeholder='search' aria-label='Search'>
                                <button type='submit' class='btn btn-outline-light my-2 my-sm-0'>Recherche </button>
                            </form>
                        </li>

                        {% elseif is_granted('ROLE_PROF') %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home_prof') }}">Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('show_profile_prof') }}">Mon profil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('show_liste_cours') }}">Proposer un cours</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('logout_prof')}}">Déconnexion</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('show_messages_prof')}}">Mes messages {{ app.session.get('nbMsgNonLus') }}</a>
                        </li> 

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('demande_sessions_prof') }}">Mes demandes de cours</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('calendar_prof') }}">Mon planning</a>
                        </li>


                        {% endif %}
                    {% endif %}

                </ul>
            </div>
        </nav>
        
        {% block body %}

        {% endblock %}

        {% block javascripts %}
        
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

        {% endblock %}

    </body>
</html>
