<body id="body" class="body-wrapper boxed-menu">
        <!-- <div class="page-loader" style="background: url(img/preloader.gif) center no-repeat #fff;"></div> -->
        <!-- Preloader -->
        <div id="preloader" class="smooth-loader-wrapper">
            <div class="smooth-loader">
            <div class="loader1">
            <div class="loader-target">
                <div class="loader-target-main"></div>
                <div class="loader-target-inner"></div>
            </div>
            </div>
            </div>
        </div>
        <div class="main-wrapper">
            <!-- HEADER -->
            <header id="pageTop" class="header">
        
            <!-- TOP INFO BAR -->
        
                <!-- NAVBAR -->
            {% if transparent is defined %}
            <div class="nav-wrapper ">
                <nav id="menuBar" class="navbar navbar-default transparent-navbar " role="navigation">
            {% else %}
            <div class="nav-wrapper navbarWhite">
                <nav id="menuBar" class="navbar navbar-default lightHeader animated " role="navigation">
            {% endif %}
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                {% if is_granted('ROLE_ADMIN') %}
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a class="nav-link" href="{{ path('show_list_members') }}">Liste des membres</a>
                        </li>
                        <li class="">
                            <a class="nav-link" href="{{ path('show_list_activites_categories') }}">Liste des activites</a>
                        </li>
                        {#<li class="">
                            <a class="nav-link" href="{{ path('delete_messages') }}">Supprimer messages</a>
                        </li>

                        <li class="">
                            <a class="nav-link" href="{{ path('delete_seances_passees') }}">Supprimer séances libres passées</a>
                        </li>
                        <li class="">
                            <a class="nav-link" href="{{ path('delete_messages_passes') }}">Supprimer messages passés</a>
                        </li> #}
                        <li class="">
                            <a class="nav-link" href="{{ path('logout_admin') }}">Déconnexion</a>
                        </li>
                    </ul>
                </div>
        
                {% elseif not is_granted('ROLE_USER') %}
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a class="nav-link" href="{{ path('search_course') }}">Accueil / Rechercher un cours </a>
                            </li>     
                            <li class=" dropdown singleDrop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Connexion / Inscription <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('register', {'isEleve':1} ) }}">Créer un compte élève</a></li>
                                    <li><a href="{{ path('register', {'isEleve':0} ) }}">Créer un compte professeur</a></li>
                                    <li><a href="{{ path('login_eleve') }}">Connexion élève</a></li>
                                    <li><a href="{{ path('login_prof') }}">Connexion professeur</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                {% elseif is_granted('ROLE_ELEVE') %}
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a class="nav-link" href="{{ path('home_eleve') }}">Planning</a>
                            </li>     
                            <li class="">
                                <a class="nav-link" href="{{ path('show_profile_eleve') }}">Profil</a>
                            </li>     
                            <li class="">
                                <a class="nav-link" href="{{ path('show_messages_eleve') }}">Messagerie ({{ app.user.nbMsgNonLus }})</a>          
                            </li>
                            <li class="">
                                <a class="nav-link" href="{{ path('show_demandes_eleve') }}">Mes demandes de cours</a>          
                            </li>          
                            <li class="">
                                <a href="{{ path('search_course_eleve') }}">Rechercher un cours </a>
                            </li>     
                            <li class="">
                                <a class="nav-link" href="{{path('logout_eleve')}}">Déconnexion</a>
                            </li>
                        </ul>
                    </div>

                {% elseif is_granted('ROLE_PROF') %}
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a class="nav-link" href="{{ path('home_prof') }}">Planning</a>
                            </li>     
                            <li class="">
                                <a class="nav-link" href="{{ path('show_profile_prof') }}">Profil</a>
                            </li>     
                            <li class="">
                                <a class="nav-link" href="{{ path('show_messages_prof') }}">Messagerie ({{ app.user.nbMsgNonLus }})</a>          
                            </li>

                            <li>
                                <a class="nav-link" href="{{ path('add_propose_cours') }}">Proposer un cours</a>
                            </li> 

                            <li class="">
                                <a class="nav-link" href="{{ path('logout_prof') }}">Déconnexion</a>
                            </li>     
                        </ul>
                    </div>
                {% endif %}

                    {# <a class="btn btn-default navbar-btn" href="add-listings.html"> + <span>Add Listing</span></a> #}
                </div>
            </nav>
        </div>
    </header>
