{% extends 'base.html.twig' %}

{% block title %} {{ title }}{% endblock %}

{% block body %}
<!-- BANNER SECTION -->
    <section class="clearfix homeBanner" style="background-image: url(/assets/img/banner/banner_index.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="banerInfo">
					<h1>Trouvez le professeur parfait à Strasbourg</h1>
					{% if app.user %}
						<form class="form-inline" method="GET" action='{{ path('liste_cours_eleve_search') }}'>
					{% else %}
						<form class="form-inline" method="GET" action='{{ path('liste_cours_visitor_search') }}'>
					{% endif %}
						<div class="form-group">
							<div class="input-group">
								<input type="text" name='s' class="form-control" id="findItem" placeholder="Quelle matière ? Essayez Maths, Piano, ...">
								<div class="input-group-addon addon-right"></div>
							</div>
						</div>

						<button type="submit" class="btn btn-primary">RECHERCHER <i class="fa fa-search" aria-hidden="true"></i></button>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- CATEGORY SECTION -->
<section class="clearfix bg-light">
    <div class="container">
        <div class="page-header text-center">
            <h2>Cherchez un cours par catégorie</h2>
        </div>
        <div class="row">
        {% for categorie in categories %}                
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="categoryItem">
                    {# <i class="icon-listy icon-car-1"></i> #}
                    <h2>{{ categorie }}</h2>
                    <ul class="list-unstyled">
                    {% for activite in categorie.activites  %}
                        {% if app.user %}
                            <li><a href=" {{ path('liste_cours_eleve_activite', {'id' : activite.id}) }}">{{ activite }}</a></li>
                        {% else %}
                            <li><a href=" {{ path('liste_cours_visitor_activite', {'id' : activite.id}) }}">{{ activite }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% if not is_granted('ROLE_USER') %}

<section class="testimonial-section">
    <div class="container-fluid">
        <div class="page-header text-center">
            <!-- <h2>Découvrez nos professeurs<small>Retrouvez ci-dessous certains professeurs</small></h2> -->
            <h2>Découvrez nos professeurs</h2>
        </div>
        <div class="row testimonial-slider owl-carousel">
        {% for prof in profs %}
            <div class="testimonial-content">
                <div class="testimonial-box">
                    <div class="testimonial">{{ prof.description|slice(0,199) }}...</div>
                </div>
                <div class="testimonial-author">
                    <img src="/assets/pictures/{{ prof.pictureFilename }}" alt="user-image">
                    <h5>{{ prof }}</h5>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endif %}

{% endblock %}

{% block javascripts %}
{# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 

<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#findItem").keyup(function() {
            var minlength = 3;
            //var that = this; 
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('liste_cours_visitor_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        //if (value==$(that).val()) {
							var result = JSON.parse(msg);
							console.log(value);
							console.log(result);
							//console.log(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'entities') {
                                        if (id != 'error') {
                                            entitySelector.append('<li><a href="/daten/'+id+'">'+value+'</a></li>');
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        //}
                     }
                });
            }
        });
    });
</script> #}
{% endblock %} 